body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #74ebd5, #30e059);
    background-image: url("https://wallpaperaccess.com/full/1540049.jpg");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

h1 span{
    color: #29a316;
}

.container {
    margin-top: 220px;
    padding: 20px;
    background: white;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    background: #06bfe8;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background: #0c787d;
}